.carousel .item {
  height: 200px;
  background: #FFFFFF;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
}

.wdisplay img {
	margin: 10px 0px 0px 500px;
}
.carousel-control.left, 
.carousel-control.right {
    background-image: none;
    color:#33CCFF;
}