.carousel .item {
  height: 200px;
  background: #CBEDF7;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}